        /***************************** FUENTES *****************************/
        
        @import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica&display=swap');
        @font-face {
            font-family: 'Blach';
            src: url(../fonts/BLACH___.TTF) format('truetype');
        }
        
        @font-face {
            font-family: 'Des Malers';
            src: url(../fonts/Des\ Malers\ Fraktur.ttf) format('truetype');
        }
        
        @counter-style pent {
            system: cyclic;
            symbols: \26E7;
            /*utf8 code for "pentagram" "⛧" */
            suffix: " ";
        }
        
         :root {
            --blanco: #fff;
            --negro: #000000;
            --azul: #6a70a0;
            --dorado: #efb810;
            --marron: #a77d36;
            --azulpatron: #3d444c;
            --florpatron: #ddc36e;
            --gris: #111111;
            --rojo: rgb(133, 2, 2);
        }
        /***************************** ETIQUETAS *****************************/
        
        * {
            box-sizing: border-box;
            margin: 0px;
            /* externo */
            padding: 0px;
            /* interno */
        }
        
        body {
            background-color: var(--negro);
            font-family: 'Des Malers';
            background-image: url("../img/skulls.jpg");
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
        
        a {
            color: var(--blanco);
        }
        
        a:visited {
            color: var(--rojo);
        }
        
        h1 {
            font-size: 2em;
            font-family: 'Blach';
        }
        
        h2 {
            font-size: 1.5em;
            font-family: 'Blach';
            color: var(--blanco);
        }
        
        p {
            font-size: 1.2em;
            text-align: justify;
            margin-left: 40px;
            margin-right: 40px;
            margin-bottom: 15px;
        }
        
        ol {
            padding-left: 50px;
            list-style-type: upper-roman;
        }
        
        section img {
            width: 100%;
        }
        
        aside {
            float: left;
            font-weight: bold;
            width: 30%;
            margin-top: 30px;
        }
        
        aside a {
            margin-left: 30px;
            text-decoration: none;
            font-size: 1.5em;
            line-height: 30px;
        }
        
        legend {
            margin-bottom: 0px;
            margin-left: 16px;
        }
        
        fieldset {
            background-image: -moz-element();
            max-width: 500px;
            padding: 16px;
            border: 3px solid var(--azulpatron);
            -moz-border-radius: 8px;
            -webkit-border-radius: 8px;
            border-radius: 8px;
            font-family: 'Blach';
            font-size: 1.4em;
            text-align: right;
            background-color: var(--blanco);
        }
        
        input::placeholder {
            font-family: 'IM Fell DW Pica';
            font-size: 1.2em;
        }
        
        textarea {
            margin-bottom: 5px;
        }
        
        textarea::placeholder {
            font-family: 'IM Fell DW Pica';
            font-size: 1.1em;
        }
        
        img:not([alt]) {
            border: 3px solid rgb(133, 2, 2);
        }
        
        hr {
            border: 1px solid var(--rojo);
            margin-bottom: 40px;
            z-index: 2;
        }
        /***************************** NAVEGADOR *****************************/
        
        nav {
            height: 40px;
            width: 100%;
            background: var(--negro);
            font-size: 1.5em;
            font-family: 'Blach';
            font-weight: bold;
            position: relative;
            box-shadow: 10px 10px 15px 2px rgba(0, 0, 0, 0.47);
        }
        
        nav ul {
            padding: 0;
            margin: 0 auto;
            height: 40px;
        }
        
        nav li {
            margin: 10px;
            display: inline;
            float: left;
        }
        
        nav a {
            color: var(--blanco);
            display: inline-block;
            text-align: center;
            text-decoration: none;
            line-height: 40px;
            text-shadow: 1px 1px 0px var(--negro);
            transition: background-color 0.5s linear;
        }
        
        nav li a:visited {
            color: var(--blanco);
        }
        
        nav li a {
            border-right: 1px solid var(--negro);
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
        }
        
        nav li:last-child a {
            border-right: 0;
        }
        
        nav a:hover {
            background-color: var(--blanco);
        }
        
        nav a#pull {
            display: none;
        }
        /***************************** CLASES VARIAS *****************************/
        /***************************** FOOTER *****************************/
        
        .foot {
            background-color: var(--negro);
            padding-left: 50px;
            padding-top: 40px;
            width: 100%;
            text-align: left;
            justify-content: center;
            display: flex;
            flex-wrap: wrap;
        }
        
        .foot p {
            color: var(--blanco);
            margin-top: 10px;
            margin-left: 5px;
            max-width: 300px;
        }
        
        .foot h2 {
            color: var(--rojo);
            font-family: 'Blach';
        }
        
        footer>div>div>p {
            font-style: normal;
        }
        
        .er {
            background-color: var(--negro);
            overflow: hidden;
            opacity: 80%;
        }
        
        .er p {
            font-family: 'Des Malers';
            font-style: normal;
            color: var(--blanco);
            text-align: right;
            margin-right: 200px;
        }
        
        .info {
            margin: 10px;
            width: 200px;
            height: 170px;
        }
        
        .info h2,
        .contacto h2 {
            margin-left: 10px;
        }
        
        .info p,
        .contacto p {
            margin-left: 10px;
            text-align: left;
        }
        
        .contacto {
            margin: 10px;
            width: 300px;
            height: 170px;
            overflow: hidden;
        }
        
        .redes {
            margin: 10px;
            width: 300px;
            height: 100px;
        }
        
        .redes h2 {
            margin-left: 10px;
            margin-bottom: 10px;
        }
        
        .redes li {
            margin-right: 5px;
            display: inline;
        }
        
        .volver {
            font-size: 1.5em;
            text-align: right;
            margin-right: 20px;
            float: right;
        }
        
        .whatsapp {
            /*display: block;*/
            position: fixed;
            bottom: 10px;
            right: 10px;
            margin-bottom: 30px;
            margin-right: 30px;
        }
        /***************************** CONTENEDORES *****************************/
        
        .caja {
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            float: left;
            width: 33.33%;
            padding: 5px;
        }
        
        .caja img {
            width: 100%;
        }
        
        .contenedor {
            max-width: 1000px;
            margin: 0 auto;
            background-color: var(--negro);
            overflow: hidden;
        }
        
        .contenedor h1 {
            margin: 10px;
        }
        
        .contenedor h2 {
            animation-duration: 4s;
            animation-name: animTexto;
        }
        
        @keyframes animTexto {
            from {
                margin-left: 100%;
                width: 100%;
            }
            to {
                margin-left: 0%;
                width: 100%;
            }
        }
        
        .contenedor p {
            margin-top: 20px;
            text-indent: 40px;
        }
        
        .contenedor section {
            float: left;
            width: 70%;
        }
        
        .contenedor table {
            font-size: 1.7em;
            text-align: center;
        }
        
        .enlace {
            padding-left: 150px;
            margin-bottom: 20px;
            list-style-type: upper-roman;
        }
        
        .enlace ol {
            list-style: pent;
        }
        
        .enlace a {
            font-family: 'Blach';
            font-size: 1.5em;
            text-decoration: none;
        }
        
        .enlace p {
            margin-top: 10px;
            text-indent: 30px;
        }
        
        .enlace b {
            font-family: 'Blach';
            font-size: 1.2em;
        }
        
        .cofradia li {
            list-style-type: upper-roman !important;
            margin-top: 20px;
        }
        
        .cofradia p {
            margin-top: 20px;
            text-indent: 40px;
        }
        
        .terra li {
            list-style-position: inside;
            margin-left: 40px;
            margin-right: 20px;
        }
        
        .clearfix:before,
        .clearfix:after {
            content: " ";
            display: table;
        }
        
        .clearfix:after {
            clear: both;
        }
        
        .clearfix {
            *zoom: 1;
        }
        
        .logo {
            padding-top: 10px;
            background-color: var(--negro);
            width: 100%;
            display: flex;
            justify-content: center;
        }
        
        .cs {
            -webkit-transition: 1s linear;
            transition: 0.5s ease;
        }
        
        .cs:hover {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
        
        .logo h1 {
            color: var(--blanco);
            margin-left: 200px;
            font-size: 4em;
            display: flex;
            align-self: center;
        }
        
        .pergamino {
            overflow: scroll;
            height: 561px;
        }
        
        .pergamino img {
            padding: 15px;
            float: left;
        }
        
        .chollo {
            height: 300px;
            width: 800px;
            background-color: var(--gris);
            color: var(--blanco);
            -webkit-transition: 1s linear;
            transition: 1s linear;
            margin: 50px;
            border-radius: 0px 15px;
            overflow: hidden;
        }
        
        .chollo h3 {
            font-size: 2em;
            margin-top: 5px;
            color: var(--rojo);
        }
        
        .chollo p {
            font-size: 1.4em;
            margin: 5px;
        }
        
        .precio {
            opacity: 40%;
            text-decoration: line-through;
        }
        
        .chollo a {
            text-decoration: none;
        }
        
        .chollo img {
            float: left;
            margin: 20px;
        }
        
        .chollo form {
            float: left;
            margin: 5px;
        }
        
        .chollo:hover {
            -webkit-box-shadow: 4px 4px 4px 2px rgb(133, 2, 2);
            box-shadow: 4px 4px 4px 2px rgb(133, 2, 2);
        }
        
        .formulario {
            background-color: var(--rojo);
            padding-top: 50px;
            padding-bottom: 100px;
            display: flex;
            justify-content: center;
        }
        
        .formulario a {
            text-decoration: none;
            color: var(--negro);
        }
        
        .error {
            margin-top: 200px;
            background-color: var(--negro);
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .err h1 {
            font-size: 4em;
            color: var(--rojo);
            font-family: 'Des Malers';
        }
        
        .err p {
            font-size: 3em;
            color: var(--rojo);
            font-family: 'Blach';
        }
        
        .orden {
            text-align: right;
            font-size: 2em;
            font-family: 'Blach';
            margin: 15px;
        }
        
        .orden a {
            text-decoration: none;
        }
        
        .berserk {
            background-color: var(--blanco);
            box-shadow: none;
            clear: both;
            display: flex;
            justify-content: space-around;
        }
        
        .berserk input[type="button"] {
            font-family: 'IM Fell DW Pica';
            text-align: center;
            cursor: pointer;
            text-transform: uppercase;
            overflow: hidden;
            position: relative;
            color: var(--blanco);
            font-weight: 700;
            font-size: 15px;
            background-color: var(--negro);
            padding: 5px 20px;
            margin: 0 auto;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.47);
        }
        
        .bot {
            font-family: 'Des Malers';
            text-align: center;
            cursor: pointer;
            overflow: hidden;
            position: relative;
            color: var(--blanco);
            font-weight: 700;
            font-size: 1.5em;
            background-color: var(--negro);
            padding: 5px 20px;
            margin: 0 auto;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.47);
        }
        
        .vacio {
            height: 150px;
            background-color: var(--rojo);
        }
        
        .red {
            color: var(--rojo);
        }
        
        .pagina {
            text-align: center;
        }
        
        .cate,
        .cate li {
            float: right;
        }
        
        .home {
            height: 700px;
            color: var(--negro);
            text-transform: uppercase;
            background-image: url("../img/guts.jpg");
            background-repeat: no-repeat;
            background-size: auto;
            margin-left: 10px;
            margin-right: 10px;
        }
        
        .legion button {
            font-family: 'Blach';
            text-align: center;
            cursor: pointer;
            text-transform: uppercase;
            overflow: hidden;
            position: relative;
            color: var(--blanco);
            font-weight: 700;
            font-size: 2em;
            background-color: var(--negro);
            padding: 15px 20px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.47);
            margin-top: 5px;
        }
        /***************************** MEDIA QUERIES *****************************/
        
        @media screen and (max-width: 1024px) {
            .contenedor {
                width: 100%;
            }
            .contenedor h2 {
                margin-left: 10px;
            }
            .contenedor iframe {
                width: 90%;
            }
            table caption {
                caption-side: top;
            }
            table ::first-letter {
                font-family: 'IM Fell DW Pica';
                font-size: 1.2em;
            }
            table td {
                background-color: var(--azulpatron);
                color: var(--blanco);
            }
            .contenedor section {
                display: block;
                width: 100%;
            }
            .contenedor aside {
                display: block;
                width: 100%;
            }
            nav {
                position: relative;
            }
            .hero {
                width: 100%;
            }
            .enlace {
                padding-left: 120px;
            }
            ol {
                padding-left: 25px;
            }
        }
        /* nuevo tamaño para que se viera correctamente el navegador*/
        
        @media screen and (max-width: 600px) {
            nav li {
                clear: both;
                display: block;
                float: none;
                z-index: 10;
            }
            nav a {
                background-color: var(--negro);
            }
            .contenedor aside {
                display: block;
                width: 90%;
                text-align: right;
            }
            .logo h1 {
                margin-left: 100px;
                text-align: center;
            }
            fieldset {
                border: 0px;
            }
            .enlace {
                padding-left: 100px;
            }
            .error {
                margin-top: 100px;
                background-color: var(--negro);
                width: 100%;
                height: 100%;
                display: block;
                justify-content: center;
                align-items: center;
            }
            .err {
                margin: 20px;
            }
            .err p {
                font-size: 2.5em;
            }
        }
        
        @media screen and (max-width: 480px) {
            .logo h1 {
                margin-left: 50px;
            }
            .enlace {
                padding-left: 50px;
            }
        }